name: Lint & Test
on:
  pull_request:
  push:
    branches:
      - master
      - its-happening

env:
  CGO_ENABLED: 1

jobs:
  test:
    - name: Auth for GitHub private modules
      run: |
        git config --global url."https://x-access-token:${{ secrets.REPO_INDEXD_ACCESS }}@github.com/".insteadOf "https://github.com/"
    uses: SiaFoundation/workflows/.github/workflows/go-test.yml@master
