name: test
on:
  pull_request:
  push:
    branches:
      - master
      - its-happening

env:
  CGO_ENABLED: 1

jobs:
  test:
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go-version: ['1.24', '1.25']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Configure git
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Auth for GitHub private modules
        run: git config --global url."https://x-access-token:${{ secrets.REPO_INDEXD_ACCESS }}@github.com/".insteadOf "https://github.com/"
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          skip-cache: true
      - name: Test
        uses: n8maninger/action-golang-test@v2
        with:
          args: -race;-tags=testing netgo
      - name: Build
        run: go build -o bin/ ./...
  success: # Use in branch rulesets to ensure all matrix jobs completed successfully
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"
